.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.developer {
    background-image: url(../images/developer.png), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
*{
    justify-content: center;
}
/* shared styles */
.secondary-bg{
    background-color: #FFF8F3;
}
.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    width: 200px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    padding: 0%;
    
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

.text-center{
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px 0px 0px;
    padding-left: 236px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    /* display: flex; */
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
}

.nav-title {
    font-weight: 800;
    font-size: 42px;
}

.text-primary {
    color: #FD6E0A;
}

/* Banner Styles */

.banner {
    display: flex;
    justify-content: space-between;
    padding-right: 38px;
    padding-left: 236px;
}

.banner-content {
    max-width: 580px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 300px;
}

.banner-title {
    font-size: 85px;
    font-weight: 600px;
}

.banner-profile-picture {
    width: 584px;
    height: 676px;
}

/* Main Styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About Styles */

.about{
    border-radius: 10px;
    padding: 130px 150px 130px 150px;
    text-align: center;
    /* margin-top: 130px; */
}

.about-items{
    display: flex;
    /* justify-content: stretch; */
    /* justify-content: flex-end; */
    justify-content: space-between;
}

.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
    margin: 0;
    padding: 0;
}
.item-title{
    margin: 0;
    /* padding: 0; */
    padding-top: 20px;
}

/* Skills style */

.skills-container{
    display: flex;
    gap: 24px;
    /* align-items: center; */
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 267px;
    height: 300px;
}

.skill-des-box{
    width: 204px;
    height: 243px;
    justify-content: center;
}

.skill-description{
    font-size: 16px;
    color: #757575;
}

/* resume styles */
.resume2{
    margin-bottom: 113px;
}
.resume-container{
    display: flex;
    margin-bottom: 50px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    /* margin-top: 0; */
}
.experience-sub-title{
    font-size: 20px;
    font-weight:500;
    color: #757575;
}
.experience-description{
    font-size: 16px;
    /* font-weight:500; */
    color: #757575;
}
hr{
    color: #D1D1D1;
    width: 540px;
}
.cv{
    align-items: center;
}
footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}

.footer-column{
    /* width: 50%; */
    
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 349px 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 16px;
}
/* Responsive Media Query */
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container{
        flex-direction: column;
    }
    .resume-container{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        /* padding: 20px; */
        /* justify-content: center;
        align-items: center; */
    }
    .secondary-bg{
        flex-direction: column;
        padding: 20px;
    }
    footer input[type="text"], footer input[type="email"], footer textarea{
        padding: 20px;
        /* justify-content: center;
        align-items: center; */
    }
    hr{
        width: auto;
    }
}